
    <h1>Login</h1>
    <% if (messages.error) { %>
        <p style="color: red"><%- messages.error %></p>
      <% } %>
      
      <% if (messages.success) { %>
        <p style="color: green"><%- messages.success %></p>
      <% } %>
    <form id="loginForm" action="/account/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="account_email" id="email" placeholder="Enter your email" value="<%= locals.account_email %>">
        
        <label for="password">Password:</label>
        <span class="password-requirements">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter, and 1 special character</span>
        <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        
        <label for="showPassword" style="display: flex; align-items: center;">
            <input type="checkbox" id="showPassword">
            Show Password
        </label>
        
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/account/register">Register Here</a></p>

    <!-- Script para mostrar u ocultar la contraseña -->
    <script>
        document.getElementById('showPassword').addEventListener('change', function () {
            const passwordInput = document.getElementById('password');
            if (this.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
