<% const d = new Date();
  let year = d.getFullYear(); %>
<footer>

  <p class="copyright">
    &copy; <%= year %>, CSE Motors App 
</p>
<div class="social-links">
    <a href="https://facebook.com" target="_blank">
        <img src="/images/site/facebook.png" alt="Facebook">
    </a>
    <a href="https://instagram.com" target="_blank">
        <img src="/images/site/insta.png" alt="Instagram">
    </a>
</div> 
    
</footer>
