<h1 class="welcome-site">Welcome to CSE Motors</h1>

<div class="mustang-main">
    <img class="mustang-img" src="/images/vehicles/mustang.jpg" alt="Delorean">
</div>
<section>
    <div class="half-section-l">
        <h2 class="services-title">Nuestros Servicios</h2>
        <div class="services-grid">
            <div class="service-item">
                <img src="/images/services/financing.jpg" alt="Financing">
                <h3>Financiacion Simple</h3>
                <p>Consigue una financiacion pre-aprobada en minutos.</p>
                <a href="/services/financing" class="learn-more">Mas info</a>
            </div>
            <div class="service-item">
                <img src="/images/services/insurance.jpg" alt="Insurance">
                <h3>Seguro de vehículo</h3>
                <p>Ofrecemos tarifas competitivas de las mejores aseguradoras..</p>
                <a href="/services/insurance" class="learn-more">Mas info</a>
            </div>
            <div class="service-item">
                <img src="/images/services/maintenance.jpg" alt="Maintenance">
                <h3>Planes de mantenimiento</h3>
                <p>Mantenga su vehículo en óptimas condiciones con nuestros paquetes de mantenimiento.</p>
                <a href="/services/maintenance" class="learn-more">Mas info</a>
            </div>
            <div class="service-item">
                <img src="/images/services/inspection.jpg" alt="Inspection">
                <h3>Inspección de vehículos gratuita</h3>
                <p>Programe una inspección gratuita antes de realizar una compra..</p>
                <a href="/services/inspection" class="learn-more">Mas info</a>
            </div>
        </div>
    </div>
    
    <div class="half-section-r">
        <h2 class="offers-title">Ofertas Especiales</h2>
        <div class="offers-list">
            <div class="offer-item">
                <h3>0% Financiamiento por 36 Meses</h3>
                <p>En modelos seleccionados, solicite ahora para obtener la mejor tarifa disponible.</p>
                <a href="/offers/financing" class="learn-more">Mas info</a>
            </div>
            <div class="offer-item">
                <h3>Libre Mantenimiento por un año</h3>
                <p>Con cada compra de vehículo nuevo, disfrute de mantenimiento gratuito durante un año completo.</p>
                <a href="/offers/maintenance" class="learn-more">Mas info</a>
            </div>
            <div class="offer-item">
                <h3>Bono de intercambio</h3>
                <p>Obtenga un bono de $500 al cambiar su vehículo antiguo por un modelo nuevo.</p>
                <a href="/offers/trade-in" class="learn-more">Learn More</a>
            </div>
        </div>
    </div>
    
</section>
