<h1 class="welcome-site">Welcome to CSE Motors</h1>
<%- messages() %>
<div class="delorean-main">
    <div class="floating-box">
        <div class="delorean-description">
            <ul>
                <li>DMC Delorean</li>
                <li>3 Cups holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Dice</li>
            </ul>
        </div>
        <img class="today" src="/images/site/own_today.png" alt="Own today">
    </div>
    <img class="delorean-img" src="/images/vehicles/delorean.jpg" alt="Delorean">
</div>
<section>
    <div class="half-section-l">
        <h2 class="delorean-upgrades">Delorean Upgrades</h2>
        <div class="grid-container">
            <div class="grid-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p class="description"><a href="">Flux Capacitor</a></p>
            </div>
            <div class="grid-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <p class="description"><a href="">Flame Decals</a></p>
            </div>
            <div class="grid-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p class="description"><a href="">Bumper Stickers</a></p>
            </div>
            <div class="grid-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p class="description"><a href="">Hub Caps</a></p>
            </div>
        </div>
    </div>
    <div class="half-section-r">
        <h2 class="delorean-review">DMC Delorean Reviews</h2>
        <div class="list-container">
            <ul class="list-elements">
                <li>"So fast it's almost like traveling in time.(4/5)"</li>
                <li>"Coolest ride on the road. (4/5)"</li>
                <li>"I'm feeling McFly.(5/5)"</li>
                <li>"The most futuristic ride of our day.(4.5/5)"</li>
                <li>"80's livin and I love it!.(5/5)"</li>
            </ul>
        </div>
    </div>
</section>
