@font-face {
  font-family: "source";
  src: url("../fonts/source.ttf");
}

@font-face {
  font-family: "exo";
  src: url("../fonts/exo.ttf");
}

:root {
  --color-primary: white;
  --color-secondary: #242332;
  --color-tertiary: #4c96d7;
  --color-bg: rgb(226, 233, 241);
  --color-text: black;
  --font-title: source;
  --font-text: exo;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-title);
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-site {
  margin-top: 20px;
  font-size: 38px;
}

.siteName a {
  text-decoration: none;
  font-size: 38px;
  color: var(--color-secondary);
}

#tools a {
  text-decoration: none;
  font-size: 23px;
  color: var(--color-secondary);
}

title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--color-secondary);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  color: var(--color-primary);
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
}

body {
  background-image: url("../images/site/small_check.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  padding: 20px 0;
}

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  border: 10px solid #4c96d7;
}

#messages {
  color: red;
  font-weight: 700;
}

.delorean-main {
  text-align: center;
}

.delorean-img {
  width: 630px;
  display: block;
  margin: 0 auto;
}

.floating-box {
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  max-width: 280px; /* Tamaño máximo más reducido */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para más definición */
}

.delorean-description h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.delorean-description ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.delorean-description li {
  font-weight: bold;
  font-size: 16px;
  color: var(--color-tertiary);
  margin-bottom: 8px;
}

.delorean-description p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-secondary);
}


section {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

/* Left and right sections */
.half-section-l,
.half-section-r {
  width: 48%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section titles */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* Services section grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Individual service items */
.service-item {
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-item img {
  width: 80px;
  margin-bottom: 15px;
}

.service-item h3 {
  font-size: 18px;
  color: #0d6efd;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 14px;
  color: #666;
}

.service-item .learn-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #0d6efd;
  text-decoration: none;
}

.service-item .learn-more:hover {
  text-decoration: underline;
}

/* Special offers list */
.offers-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer-item {
  padding: 20px;
  background-color: #ffffff;
  border-left: 4px solid #0d6efd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.offer-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.offer-item p {
  font-size: 16px;
  color: #666;
}

.offer-item .learn-more {
  font-size: 14px;
  color: #0d6efd;
  text-decoration: none;
}

.offer-item .learn-more:hover {
  text-decoration: underline;
}

.offer-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Styles to vehicles list */
#inv-display {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles to elements li */
#inv-display li {
  background: var(--color-bg);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  width: calc(33.333% - 30px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles to the imáges */
#inv-display li img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Styles to titles */
#inv-display li h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

/* Styles to prices */
#inv-display li p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #666;
  text-align: center;
}

footer {
  font-family: var(--font-text);
  font-size: 18px;
  margin-top: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* styles in details view */
.vehicle-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vehicle-detail h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.vehicle-detail img {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.vehicle-detail h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.vehicle-detail p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Stles to the views Login and Register */
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  padding-top: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background-color: var(--color-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="firstName"],
input[type="LastName"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 40%;
  padding: 10px;
  background-color: #28863d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #005bbd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.error-message {
  color: red;
  text-align: center;
}

input[type="checkbox"] {
  margin-top: 1em;
}

input[type="password"] {
  width: calc(100% - 32px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="password"].show-password {
  font-family: "Courier New", Courier, monospace;
}

/* Styles to Add classification view */
.classification-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--color-bg);
}

.classification-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.classification-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.classification-button {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.classification-button:hover {
  background-color: #0056b3;
}

.errors {
  color: red;
  margin-bottom: 20px;
}

/* Styles to Add inventory */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #036ad8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}


/* Styles to show the management view */
#classificationList {
  width: 200px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

/* Styles to the account Management */
.left-align1 {
  text-align: left;
  margin-left: 0;
  margin-top: 30px;
}

.left-align2 {
  text-align: left;
  margin-left: 0;
}

.left-align {
  text-align: left;
  margin-left: 0;
}


.sold {
  background-color: #f8d7da;
  text-decoration: line-through;
}

/* Styles to medium screen (705px a 940px) */
@media screen and (min-width: 708px) and (max-width: 1000px) {
  .description {
    bottom: -20px;
    font-size: small;
  }

  .floating-box {
    left: 20%;
  }
}
 

  @media only screen and (max-width: 768px) {

    header {
      width: 90vw;
    }
  
    #top-header {
      height: 85px;
    }
  
    #tools a {
      font-size: 15px;
    }
  
    .siteName a {
      font-size: 40px;
    }
  
    .welcome-site {
      font-size: 25px;
    }
  
    nav {
      height: 55px;
    }
  
    nav ul {
      width: 100%;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  
    .delorean-main {
      text-align: center;
      padding: 10px;
    }
  
    .delorean-img {
      max-width: 100%;
    }

    .floating-box {
        top: 45%;
        left: 35%;
        transform: translate(-50%, -50%);
        max-width: 230px; /* Tamaño más pequeño en pantallas móviles */
        padding: 10px 15px;
    }

    .delorean-description h2 {
        font-size: 18px;
    }

    .delorean-description li {
        font-size: 14px;
    }

    .delorean-description p {
        font-size: 12px;
    }

    section {
      flex-direction: column;
    }
  
    .half-section-l,
    .half-section-r {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .services-grid {
      grid-template-columns: 1fr;
    }
  
  
    /* Styles to elements li */
    #inv-display li {
      background: var(--color-bg);
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 15px;
  
      padding: 15px;
      width: calc(42% - 30px);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h1 {
      margin-top: 40px;
    }

    .namePrice h2 {
      font-size: small;
    }
    
}
 