<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <h1><%= title %></h1>
    <% if (messages.success) { %>
        <div class="flash-message success"><%= messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div class="flash-message error"><%= messages.error %></div>
    <% } %>
    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
</body>
</html>
